// images
// --------------------------------------------------
$image-coyo-small: '../assets/images/logos/coyo/logo-coyo-inversed-sm.png';
$image-coyo-medium: '../assets/images/logos/coyo/logo-coyo-inversed-sm.png';
$image-coyo-large: '../assets/images/logos/coyo/logo-coyo-inversed.png';
$image-coyo-hd: '../assets/images/logos/coyo/logo-coyo-inversed.png';

$image-coyo-nav: '../assets/images/logos/coyo/logo-coyo-inversed-nav.png';
$image-coyo-nav-hd: '../assets/images/logos/coyo/logo-coyo-inversed-nav-hd.png';
$image-coyo-front: '../assets/images/logos/coyo/logo-coyo-inversed-front.png';
$image-coyo-front-hd: '../assets/images/logos/coyo/logo-coyo-inversed-front-hd.png';
$image-mindsmash-small: '../assets/images/logos/mindsmash/logo-black-small.png';
$image-mindsmash-hd: '../assets/images/logos/mindsmash/logo-black-hd.png';

//$image-coyo-black: '../assets/images/logos/coyo/logo-coyo-black-front.png';
//$image-coyo-black-hd: '../assets/images/logos/coyo/logo-coyo-black-front-hd.png';
//$image-coyo-heart: '../assets/images/logos/coyo/coyo-heart.svg';
//$image-coyo-c: '../assets/images/logos/coyo/coyo-c.svg';

// animations
// --------------------------------------------------
//$shake-ms: 500ms;

// breakpoints
// --------------------------------------------------
//$layout-max-width: 1280px;

// colors

// colors
// --------------------------------------------------
//$color-original: #374555;
//$color-primary: $color-original;
//$color-secondary: #242f39;
//$color-navbar-border: #9bbf29;
//$color-background-main: #e8e8e8;
//$color-text-highlight-bg: rgba(255, 201, 0, 0.2);
//
//$color-white: #FDFDFD;
//$color-black: #333;
//$color-blue: #317DC1;
//$color-green: #9BBF29;
//$color-yellow: #f0ad4e;
//$color-red: #D0021B;
//$color-orange: #DD8926;
//
//$color-gray: #AAA;
//$color-gray-lighter: #F3F3F3;
//$color-gray-light: #DADADA;
//$color-gray-dark: #999;
//$color-gray-darker: #666;

// borders
// --------------------------------------------------
//$color-border: transparentize($color-black, .85);
//$color-border-dark: transparentize($color-black, .70);
//$color-border-light: transparentize($color-black, .95);

// error
// --------------------------------------------------
//$color-valid: $color-green;
//$color-error-border: #fff;
//$color-error-bg: #c50b0b;
//$color-error: #fff;

// links
// --------------------------------------------------
//$color-link: $color-blue;

// navbar
// --------------------------------------------------
//$coyo-navbar:               $color-primary;
//$coyo-navbar-hover:         rgba(0, 0, 0, 0.15);
//$coyo-navbar-active:        rgba(0, 0, 0, 0.3);
//$coyo-navbar-text:          $color-white;
//$coyo-navbar-text-active:   $color-white;
//$coyo-navbar-text-disabled: $color-gray-light;
//$coyo-navbar-input:         $coyo-navbar-active;
//$coyo-navbar-input-active:  rgba(0, 0, 0, 0.4);
//$coyo-navbar-input-text:    $color-white;
//$coyo-navbar-placeholder:   rgba($color-white, 0.5);

// buttons
// --------------------------------------------------
//$btn-primary-bg: $color-primary;

// forms
// --------------------------------------------------
//$color-input-group-addon-bg: #fff;
//$color-placeholder: #d6d6d6;
//$color-form-error: #a94442;
//$color-form-correct: $color-green;
//$input-border-focus: $color-primary;
//$input-inplace-edit-border: #dadada;

// admin
// --------------------------------------------------
//$color-primary-admin: $color-original;
//$color-background-admin-nav: $color-primary-admin;
//$color-background-admin-sidebar: $color-primary-admin;
//$color-link-admin-sidebar: rgba($color-white, 0.5);
//$color-link-admin-sidebar-active: $color-white;

// sizes
// --------------------------------------------------
//$size-content-max: $layout-max-width;
//$size-sidebar-main: 275px;
//$size-sidebar-messaging: 375px;
//$size-sidebar-messaging-xs: 275px;
//$size-sidebar-messaging-static: 275px;
//$size-sidebar-messaging-compact: 85px;
//$width-navbar-brand: 125px;
//$height-image-front: 80px;

// zindex
// --------------------------------------------------
//$zindex-sidebar:               1045;
//$zindex-messaging:             1030;
//$zindex-subnav:                990;

// comments
// --------------------------------------------------
//$color-comments-bg: #F8F8F8;

// Avatar backgrounds
// --------------------------------------------------
//$color-page-avatar-bg: #DADADA;
//$color-workspace-avatar-bg: #DADADA;
//$color-event-avatar-bg: #DADADA;

// widgets
// --------------------------------------------------
//$color-widget-hover-bg: #FFF5DD;

// panels
// --------------------------------------------------
//$panel-body-padding-negate-sm: -10px -18px;
//$panel-body-padding-negate-md: -24px -30px;

// wizard
// --------------------------------------------------
//$coyo-wizard-color: $color-primary;

// messaging sidebar
// --------------------------------------------------
//$color-messaging-sidebar-bg: #444;

// modals
// --------------------------------------------------
//$coyo-modal-header-bg:         $color-primary;
//$coyo-modal-header-text:       $color-white;

// ribbons
// --------------------------------------------------
//$coyo-ribbon-new-bg:           $color-blue;
//$coyo-ribbon-new-bg-shadow:    darken($color-blue, 15%);
//$coyo-ribbon-sticky-bg:        $color-red;
//$coyo-ribbon-sticky-bg-shadow: darken($color-red, 15%);
//$coyo-ribbon-read-bg:          $color-green;
//$coyo-ribbon-read-bg-shadow:   darken($color-green, 15%);
//$coyo-ribbon-archived-bg:        $color-gray;
//$coyo-ribbon-archived-bg-shadow: darken($color-gray, 15%);

// border
// --------------------------------------------------
//$color-border:                 $color-gray-light;

// measures
// --------------------------------------------------
//$mobile-menu-item-height:      48px;
//$panel-body-padding:           24px 30px;
//
//$panel-sm-heading-margin:      0 24px 0;
//$panel-sm-heading-padding:     18px 0 12px;
//$panel-sm-body-padding:        16px 24px;
//$panel-sm-footer-padding:      14px 24px 16px;
//
//$panel-xs-heading-margin:      0 18px 0;
//$panel-xs-heading-padding:     12px 0 8px;
//$panel-xs-body-padding:        10px 18px;
//$panel-xs-footer-padding:      14px 18px 16px;
